# hasura endpoints
NEXT_PUBLIC_BACKEND_HTTP=
NEXT_PUBLIC_BACKEND_WSS=

# google creds
GOOGLE_ID=
GOOGLE_SECRET=

# smtp
EMAIL_SERVER=
EMAIL_FROM=

# db creds
DB_HOST=
DB_USERNAME=
DB_PASSWORD=77c701130364535b9a7e911382377ce38ad5df4044a325c2e6613bff51b22249
DB_DB=df7qj2usg63dog

# keys
PRIVATE_KEY=
PUBLIC_KEY=